@using Microsoft.AspNetCore.Components.Web

@using QuizMaster.Models
@using QuizMaster.Services

@inject JsonFileQuestionService QuestionService

@{
	SetQuestions();
}
<div class="editor">
	<div>
		@foreach (QuestionModel question in questions)
		{
			<form>
				<div class="editable-question">
					<textarea>Id : @question.Id</textarea>
					<textarea>Question : @question.Question</textarea>
					<textarea>
						Answers:
						@foreach (string s in question.Answers)
						{
						<textarea>@s</textarea>
						}
					</textarea>
					<textarea>Correct Answer : @question.Answers[question.AnswerIndex]</textarea>
					<textarea>Contributor : @question.Contributor</textarea>
				</div>
			</form>
		}
	</div>
</div>

@code {
	IEnumerable<QuestionModel> questions;

	void SetQuestions()
	{
		questions = QuestionService.GetQuestions();
	}
}
