@using Microsoft.AspNetCore.Components.Web

@using QuizMaster.Models
@using QuizMaster.Services

@inject JsonFileQuestionService QuestionService

@{
	SetQuestions();
}
<div class="editor">
	<div>
		@foreach (QuestionModel question in questions)
		{
			<form>
				<div class="editable-question">
					<h3>Id :</h3>
					<textarea>@question.Id</textarea>
					<h3>Question :</h3>
					<textarea>@question.Question</textarea>
					<h3>Answers :</h3>
					@foreach (string s in question.Answers)
					{
						<textarea>@s</textarea>
					}
					<h3>Add a question :</h3>
					<textarea></textarea>
					<h3>Correct Answer Index :</h3>
					<textarea >@question.AnswerIndex</textarea>
					<h3>Contributor :</h3>
					<textarea>@question.Contributor</textarea>
				</div>
			</form>
		}
	</div>
</div>

@code {
	IEnumerable<QuestionModel> questions;

	void SetQuestions()
	{
		questions = QuestionService.GetQuestions();
	}
}
