@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Logging
@using QuizMaster.Models
@using QuizMaster.Services

@inject JsonFileQuestionService QuestionService

@{
	SetQuestions();
}
<div class="editor @(question == null)">
	@if (question == null)
	{
		@for (int i = 0; i < questions.Length; i++)
		{
			int index = i;
			<div class="editable-question">
				<h3>Question + @questions[index].Question</h3>
				<button @onclick="(e => EditQuestion(questions[index].Id))">Edit</button>
			</div>
		}
	}
	@if (question != null)
	{
		<div class="editing-question">
			<EditForm Model="@question" OnSubmit="@Submit">
				<DataAnnotationsValidator />
				<div>
					<h3>Question :</h3>
					<InputText id="id" @bind-Value="question.Question" />

					<h3>Answers :</h3>
					@for(int i = 0; i < question.Answers.Length; i++)
					{
						int index = i;

						<div id="@("answer"+index)"/>
						Console.WriteLine(index);
					}
					<button type="submit">Submit</button>
				</div>
			</EditForm>
		</div>
	}
</div>

@code {
	QuestionModel[] questions;
	QuestionModel question;
	void SetQuestions()
	{
		questions = QuestionService.GetQuestions();
	}
	void Submit()
	{
	}
	void EditQuestion(string id)
	{
		question = questions.First(x => x.Id == id);
	}
}
